<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>Title</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

<div class="container" th:fragment="nav">

    <header class="header">
        <h1>Sanyukt Matdaan</h1>
        <a href="/"> <button class="logout-button" onclick="logout()">Logout</button></a>

    </header>

    <nav class="sidebar">
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/candidates">Candidate</a></li>
            <li><a href="/citizen">Citizen</a></li>
            <li><a href="/admin">Administration</a></li>

        </ul>
    </nav>
</div>
<script>

    function logout(){

            $.ajax({
            type: "GET",
            url: "/logout",
            success: function () {
                window.location.href = "/";
            },
            error: function (xhr, status, error) {
                console.log("Error occurred during logout:", status, error);
                console.log("Response text:", xhr.responseText);
            }
        });

    }

</script>



</body>
</html>