<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/form.css">
  <link rel="stylesheet" href="css/main.css">
    <title>Sanyukt matdaan</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
<div th:replace="~{fragment/nav :: nav}"> </div>


<main class="main">
        <div class="container">
            <h2>Add Candidate</h2>
            <br>

            <div class="grid">
                <div class="form-field">
                <label >Candidate Name:</label>
                <input type="text" id="Candidate_name" >
                </div>
                <div class="form-field">
                <label >Candidate Area:</label>
                <input type="text" id="Candidate_area" >
                </div>
                <div class="form-field">
                <label >Candidate Party:</label>
                <input type="text" id="Candidate_party" >
                </div>
                <div class="form-field">
                <label >Candidate Type:</label>
                <input type="text" id="Candidate_type" >
                </div>
            </div>
            <br>
            <div class="btn">
                <button onclick="saveCandidate()">Add Candidate</button>
            </div>

        </div>
    </main>
<script>

    function saveCandidate() {

            var candidate_name = $("#Candidate_name").val();
            var candidate_area = $("#Candidate_area").val();
            var candidate_party = $("#Candidate_party").val();
            var candidate_type = $("#Candidate_type").val();


            var userData = {
                candidate_name: candidate_name,
                candidate_area: candidate_area,
                candidate_party: candidate_party,
                candidate_type: candidate_type

            };


                $.ajax({
                    contentType: "application/json;charset=UTF-8",
                    url: "/api/candidate/save",
                    dataType: "json",
                    type: "POST",
                    cache: !1,
                    processData: !1,
                    data: JSON.stringify(userData),
                    complete: function(xhr) {
                    if (xhr.status === 201) {
                            window.location.href = "/candidates";
                        } else {
                            console.log("Error: " + xhr.status);
                        }
                        console.log(data)
                    }
                });

            }

</script>
</body>
</html>
