<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/form.css">
  <link rel="stylesheet" href="css/main.css">
  <title>Sanyukt matdaan</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
<div th:replace="~{fragment/nav :: nav}"> </div>



<main class="main">

        <div class="container">
            <h2>Add Citizen</h2>
            <br>
            <div class="grid">
                <div class="form-field">
                <label >Aadhaar:</label>
                <input type="number" id="Aadhaar"  >
                </div>
            
                <div class="form-field">
                <label >Name:</label>
                <input type="text" id="Name"  >
                </div>
            
                <div class="form-field">
                <label >Mobile:</label>
                <input type="number" id="Mobile" >
                </div>
            
                <div class="form-field">
                <label >Voter ID:</label>
                <input type="text" id="VoterId"  >
                </div>
            
                <div class="form-field">
                <label >Username:</label>
                <input type="text" id="Username"  >
                </div>
            
                <div class="form-field">
                <label >Password:</label>
                <input type="text" id="Password"  >
                </div>
            </div>
            
            <div class="btn">
                <button  onclick="saveCitizen()">Add Citizen</button>
            </div>
        </div>
    </main>
<script>

    function saveCitizen() {

            var aadhaar = $("#Aadhaar").val();
            var name = $("#Name").val();
            var mobile = $("#Mobile").val();
            var voterId = $("#VoterId").val();
            var username = $("#Username").val();
            var password = $("#Password").val();

            var userData = {
                aadhaar: aadhaar,
                name: name,
                mobile: mobile,
                voterId: voterId,
                username: username,
                password: password
            };


                $.ajax({
                    contentType: "application/json;charset=UTF-8",
                    url: "/api/citizen/save",
                    dataType: "json",
                    type: "POST",
                    cache: !1,
                    processData: !1,
                    data: JSON.stringify(userData),
                    complete: function(xhr) {
                    if (xhr.status === 201) {
                            window.location.href = "/citizen";
                        } else {
                            console.log("Error: " + xhr.status);
                        }


                        console.log(data)
                    }
                });

            }

</script>
</body>
</html>
