<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Sanyukt matdaan</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
<div th:replace="~{fragment/nav :: nav}"> </div>



<main class="main">

    <div class="container">
        <h2>Add District</h2>
        <br>
        <div class="grid">


            <div class="form-field">
                <label >District_name:</label>
                <input type="text" id="District_name"  >
            </div>

            <div class="form-field">
                <label >State:</label>
                <input type="text" id="State" >
            </div>

            <div class="form-field">
                <label >Zone:</label>
                <input type="text" id="Zone"  >
            </div>

        </div>

        <div class="btn">
            <button  onclick="saveDistrict()">Add District</button>
        </div>
    </div>
</main>
<script>

    function saveDistrict() {


            var district_name = $("#District_name").val();
            var state = $("#State").val();
            var zone = $("#Zone").val();


            var userData = {

                district_name: district_name,
                state: state,
                zone: zone

            };


                $.ajax({
                    contentType: "application/json;charset=UTF-8",
                    url: "/api/District/save",
                    dataType: "json",
                    type: "POST",
                    cache: !1,
                    processData: !1,
                    data: JSON.stringify(userData),
                    complete: function(xhr) {
                    if (xhr.status === 201) {
                            window.location.href = "/admin";
                        } else {
                            console.log("Error: " + xhr.status);
                        }


                        console.log(data)
                    }
                });

            }

</script>
</body>
</html>
