<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css">
  <link href="script.js">
  <title>Sanyukt Matdaan</title>
</head>
<body>
<div th:replace="~{fragment/nav :: nav}"> </div>


<main class="main">
    <a href="/addexec">
    <div class="card">
      <h2>Add Executive</h2>
    </div>
    </a>

    <a href="/listexec">
        <div class="card">
            <h2>List Executives</h2>
        </div>
    </a>

    <a href="/adddist">
        <div class="card">
            <h2>Add District</h2>
        </div>
    </a>

    <a href="/addtaluk">
        <div class="card">
            <h2>Add Taluk</h2>
        </div>
    </a>

    <a href="/addvill">
        <div class="card">
            <h2>Add Village</h2>
        </div>
    </a>

    <a href="/listvill">
        <div class="card">
            <h2>List Village</h2>
        </div>
    </a>

    <a href="/listdist">
        <div class="card">
            <h2>List District</h2>
        </div>
    </a>

    <a href="/listtal">
        <div class="card">
            <h2>List Taluk</h2>
        </div>
    </a>

    <div class="card">
      <h2>Elections</h2>
    </div>
    

  </main>
  
</body>
</html>
