<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css">
  <link href="script.js">
  <title>Sanyukt Matdaan</title>
</head>
<body>
<div th:replace="~{fragment/nav :: nav}"> </div>


<main class="main">
  <a href="/addcandidate">
    <div class="card">
      <h2>Add Candidate</h2>
    </div>
  </a>

  <a href="/listcand">
    <div class="card">
      <h2>List Candidate</h2>
    </div>
  </a>


</main>

</body>
</html>
