<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/citizenlogin.css">
  <title>Sanyukt matdaan</title>
</head>
<body>
  <div class="login-container">
    <div class="card">
      <h2>Sanyukt Matdaan</h2>
      <h2>Login</h2>
      <form>
        <input type="text" placeholder="Aadhaar ID or Voter ID" >
        <input type="password" placeholder="Password" >
        <a href="/ccl"><input type="button" value="Login"></a>
      </form>
    </div>
  </div>
</body>
</html>
