<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/table.css">
    <title>Sanyukt matdaan</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
<div th:replace="~{fragment/nav :: nav}"> </div>



<main class="main">

    <h2>Executives List</h2>
    <table>
        <thead>
        <th>Executive_name</th>
        <th>Mobile</th>
        <th>Designation</th>
        <th>Area</th>
        </thead>
        <tbody id="executiveList">

        </tbody>
    </table>
</main>
<script>

  $(document).ready(function() {

        var executiveList="";
        $.ajax({
            contentType: "application/json;charset=UTF-8",
            url: "/api/executive/getAllExe",
            dataType: "json",
            type: "GET",
            async:false,
            success:function(data){
               for(i=0;i<data.length;i++){
               executiveList=executiveList+'<tr>';

               executiveList=executiveList+' <td>'+data[i].executive_name +'</td>';
               executiveList=executiveList+' <td>'+data[i].mobile +'</td>';
               executiveList=executiveList+' <td>'+data[i].designation +'</td>';
               executiveList=executiveList+' <td>'+data[i].area +'</td>';


<!--               executiveList=executiveList+' <td>';-->
<!--               executiveList=executiveList+'<a href="javascript:getProfile(\''+data[i].id+'\')" title="Edit">';-->
<!--               executiveList=executiveList+'<i>&#9997;&#xFE0E;</i> </a>';-->
<!--               executiveList=executiveList+'<a href="javascript:deleteProfile(\''+data[i].id+'\')" title="Delete">';-->
<!--               executiveList=executiveList+'<i>&#x1F441;</i> </a>';-->
               executiveList=executiveList+'</td></tr>';

               }
                $("#executiveList").html(executiveList);
            }
        });
      });


</script>
</body>
</html>
